In [1]:
import pandas as pd
import requests as req
import json
import time,os
from dotenv import load_dotenv
from datetime import datetime
load_dotenv()
header = {"X-API-Key" : os.getenv('API_key')}

In [2]:
df = pd.read_csv('loc_sen.csv')
df.head()

,Location_id,Sensor_id,State,Area,Sensor_name,Latitude,Longitude
0,358456,2028433,Andhra Pradesh,Gulzarpet,co µg/m³,14.675886,77.593027
1,358456,2028399,Andhra Pradesh,Gulzarpet,no2 µg/m³,14.675886,77.593027
2,358456,2028438,Andhra Pradesh,Gulzarpet,pm10 µg/m³,14.675886,77.593027
3,358456,12237339,Andhra Pradesh,Gulzarpet,pm10 µg/m³,14.675886,77.593027
4,358456,2028432,Andhra Pradesh,Gulzarpet,pm25 µg/m³,14.675886,77.593027

In [7]:
sensors_ids = df['Sensor_id'].sort_values()
sensors_ids

2910          23
443           35
439           36
452          169
459          381
          ...
1985    12708245
1986    12708246
1678    12815121
1679    12815122
1004    12961441
Name: Sensor_id, Length: 3042, dtype: int64

In [11]:
start_time = time.time()
index = 0
track = 0
end_time = time.time()
sensors_in_range = []
elapsed_time = end_time - start_time
df_inrange = pd.DataFrame(columns=[df.columns])
df_inrange.to_csv('location_sensors.csv',mode= 'w', index=False)
for sensor in sensors_ids:
    try:
        print(f'{index} ', end = '')
        r = req.get(url= f'https://api.openaq.org/v3/sensors/{sensor}?limit=100&page=1',headers=header)
        if r.status_code == 200:
            request = r.json()['results']
            try:
                year_start = int(request[0]['coverage']['datetimeFrom']['local'].split('-')[0])
                year_end = int(request[0]['coverage']['datetimeTo']['local'].split('-')[0])
                # print(year_start, year_end)
                if year_start<=2020 and year_end>= 2021:
                        sensors_in_range.append(sensor)
                        df_inrange = df[df['Sensor_id'] == sensor]
                        df_inrange = df_inrange.reset_index(drop=True)
                        df_inrange.to_csv('location_sensors.csv', index=False,header = False, mode = 'a')
            except:
                print('Error on fetching data!!')
        else :
            print(f"Sensor : {sensor} invalid error code : {r.status_code}")
    except Exception as e:
        print("error" , e)        
    index+=1
    track += 1
    end_time = time.time()
    elapsed_time = end_time - start_time
    if track == 60 and elapsed_time < 60 :
        print('Wait for :',61-elapsed_time)
        time.sleep(round(1))
        track = 0
        start_time = time.time()

0 Error on fetching data!!
1 2 3 Error on fetching data!!
4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 Wait for : 30.443922519683838
60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 Wait for : 28.603332996368408
120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 Wait for : 30.321179151535034
180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 Wait for : 32.28438949584961
240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 Wait for : 31.12533473968506
300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 Wait for : 33.184757709503174
360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 Wait for : 30.47622036933899
420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 Wait for : 30.00434637069702
480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 Wait for : 28.84910488128662
540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 Wait for : 31.30085849761963
600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 Wait for : 32.937928199768066
660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 Wait for : 25.841256618499756
720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 Wait for : 27.638503789901733
780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 Wait for : 27.456724882125854
840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 Wait for : 27.116796016693115
900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 Sensor : 21032 invalid error code : 429
958 Sensor : 21033 invalid error code : 429
959 Sensor : 21034 invalid error code : 429
Wait for : 31.07236099243164
960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 Wait for : 25.781381845474243
1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 Sensor : 34785 invalid error code : 429
1071 Sensor : 34786 invalid error code : 429
1072 Sensor : 34787 invalid error code : 429
1073 1074 1075 1076 1077 1078 1079 Wait for : 28.2604079246521
1080 1081 1082 1083 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139 Wait for : 27.401880502700806
1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199 Wait for : 27.054258346557617
1200 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213 1214 1215 1216 1217 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227 1228 1229 1230 1231 1232 1233 1234 1235 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245 1246 1247 1248 1249 Sensor : 36585 invalid error code : 429
1250 Sensor : 36586 invalid error code : 429
1251 1252 1253 1254 1255 1256 1257 1258 1259 Wait for : 30.057228326797485
1260 1261 1262 1263 1264 1265 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280 1281 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293 1294 1295 1296 1297 1298 1299 1300 1301 1302 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313 1314 1315 1316 1317 1318 1319 Wait for : 30.049349069595337
1320 1321 1322 1323 1324 1325 1326 1327 1328 1329 1330 1331 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341 1342 1343 1344 1345 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355 1356 1357 1358 1359 1360 1361 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371 1372 1373 1374 1375 1376 1377 1378 1379 Wait for : 27.370439767837524
1380 1381 1382 1383 1384 1385 1386 1387 1388 1389 1390 1391 1392 1393 1394 1395 1396 1397 1398 1399 1400 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413 1414 1415 1416 1417 1418 1419 1420 1421 1422 1423 Sensor : 40610 invalid error code : 429
1424 Sensor : 40611 invalid error code : 429
1425 1426 1427 1428 1429 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439 Wait for : 29.070432424545288
1440 1441 1442 1443 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453 1454 1455 1456 1457 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467 1468 1469 1470 1471 1472 1473 1474 1475 1476 1477 1478 1479 1480 1481 1482 1483 1484 1485 1486 1487 1488 1489 1490 1491 1492 1493 1494 1495 1496 1497 1498 1499 Wait for : 28.872817754745483
1500 1501 1502 1503 1504 1505 1506 1507 1508 1509 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519 1520 1521 1522 1523 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535 1536 1537 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547 1548 1549 1550 1551 1552 1553 1554 1555 1556 1557 1558 1559 Wait for : 28.250946521759033
1560 1561 1562 1563 1564 1565 1566 1567 1568 1569 1570 1571 1572 1573 1574 1575 1576 1577 1578 1579 1580 1581 1582 1583 1584 1585 1586 1587 1588 1589 1590 1591 1592 1593 1594 1595 1596 1597 1598 1599 1600 1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 1611 1612 1613 1614 1615 1616 1617 1618 1619 Wait for : 28.679524660110474
1620 1621 1622 1623 1624 1625 1626 1627 1628 1629 1630 1631 1632 1633 1634 1635 1636 1637 1638 1639 1640 1641 1642 1643 1644 1645 1646 1647 1648 1649 1650 1651 1652 1653 1654 1655 1656 1657 1658 1659 1660 1661 1662 1663 1664 1665 1666 1667 1668 1669 1670 1671 1672 1673 1674 1675 1676 1677 1678 1679 Wait for : 23.121458768844604
1680 1681 1682 1683 1684 1685 1686 1687 1688 1689 1690 1691 1692 1693 1694 1695 1696 1697 1698 1699 1700 1701 1702 1703 1704 1705 1706 1707 1708 1709 1710 1711 1712 1713 1714 1715 1716 1717 1718 1719 1720 1721 1722 1723 1724 1725 1726 1727 1728 1729 1730 1731 1732 1733 1734 1735 1736 1737 1738 1739 Wait for : 19.593182802200317
1740 1741 1742 1743 1744 1745 1746 1747 1748 1749 1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761 1762 1763 1764 1765 Sensor : 1562187 invalid error code : 429
1766 Sensor : 1562188 invalid error code : 429
1767 Sensor : 1562208 invalid error code : 429
1768 Sensor : 1562209 invalid error code : 429
1769 Sensor : 1562210 invalid error code : 429
1770 Sensor : 1562211 invalid error code : 429
1771 Sensor : 1562212 invalid error code : 429
1772 1773 1774 1775 1776 1777 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791 1792 1793 1794 1795 1796 1797 1798 1799 Wait for : 28.510378122329712
1800 1801 1802 1803 1804 1805 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831 1832 Sensor : 1719189 invalid error code : 429
1833 1834 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 Wait for : 31.6978120803833
1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 Wait for : 25.100533485412598
1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 Sensor : 2028391 invalid error code : 429
1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 Wait for : 29.645692348480225
1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024 2025 2026 2027 2028 2029 2030 2031 2032 2033 2034 2035 2036 2037 2038 2039 Wait for : 29.015626430511475
2040 2041 2042 2043 2044 2045 2046 2047 2048 2049 2050 2051 2052 2053 2054 2055 2056 2057 2058 2059 2060 2061 2062 2063 2064 2065 2066 2067 2068 2069 2070 2071 2072 2073 2074 2075 2076 2077 2078 2079 2080 2081 2082 2083 2084 2085 2086 2087 2088 2089 2090 2091 2092 2093 2094 2095 2096 2097 2098 2099 Wait for : 25.15372610092163
2100 2101 2102 2103 2104 2105 2106 2107 2108 2109 2110 2111 2112 2113 2114 2115 2116 2117 2118 2119 2120 2121 2122 2123 2124 2125 2126 2127 2128 2129 2130 2131 2132 2133 2134 2135 2136 2137 2138 2139 2140 2141 2142 2143 2144 2145 2146 2147 2148 2149 2150 2151 2152 2153 2154 2155 2156 2157 2158 2159 Wait for : 26.221892595291138
2160 2161 2162 2163 2164 2165 2166 2167 2168 2169 2170 2171 2172 2173 2174 2175 2176 2177 2178 2179 2180 2181 2182 2183 2184 2185 2186 2187 2188 2189 2190 2191 2192 2193 2194 2195 2196 2197 2198 2199 2200 2201 2202 2203 2204 2205 2206 2207 2208 2209 2210 2211 2212 2213 2214 2215 2216 2217 2218 2219 Wait for : 27.85315489768982
2220 2221 2222 2223 2224 2225 2226 2227 2228 2229 2230 2231 2232 2233 2234 2235 2236 2237 2238 2239 2240 2241 2242 2243 2244 2245 2246 2247 2248 2249 2250 2251 2252 2253 2254 2255 2256 2257 2258 2259 2260 2261 2262 2263 2264 2265 2266 2267 2268 2269 2270 2271 2272 2273 2274 2275 2276 2277 2278 2279 Wait for : 29.642393350601196
2280 2281 2282 2283 2284 2285 2286 2287 2288 2289 2290 2291 2292 2293 2294 2295 2296 2297 2298 2299 2300 2301 2302 2303 2304 2305 2306 2307 2308 2309 2310 2311 2312 2313 2314 2315 2316 2317 2318 2319 2320 2321 2322 2323 2324 2325 2326 2327 2328 2329 2330 2331 2332 2333 2334 2335 2336 2337 2338 2339 Wait for : 29.222392559051514
2340 2341 2342 2343 2344 2345 2346 2347 2348 2349 2350 2351 2352 2353 2354 2355 2356 2357 2358 2359 2360 2361 2362 2363 2364 2365 2366 2367 2368 2369 2370 2371 2372 2373 2374 2375 2376 2377 2378 2379 2380 2381 2382 2383 2384 2385 2386 2387 2388 2389 2390 2391 2392 2393 2394 2395 2396 2397 2398 2399 Wait for : 29.21912717819214
2400 2401 2402 2403 2404 2405 2406 2407 2408 2409 2410 2411 2412 2413 2414 2415 2416 2417 2418 2419 2420 2421 2422 2423 2424 2425 2426 2427 2428 2429 2430 2431 2432 2433 2434 2435 2436 2437 2438 2439 2440 2441 2442 2443 2444 2445 2446 2447 2448 2449 2450 2451 2452 2453 2454 2455 2456 2457 2458 2459 Wait for : 29.030659914016724
2460 2461 2462 2463 2464 2465 2466 2467 2468 2469 2470 2471 2472 2473 2474 2475 2476 2477 2478 2479 2480 2481 2482 2483 2484 2485 2486 2487 2488 2489 2490 2491 2492 2493 2494 2495 2496 2497 2498 2499 2500 2501 2502 2503 2504 2505 2506 2507 2508 2509 2510 2511 2512 2513 2514 2515 2516 2517 2518 2519 Wait for : 29.37148666381836
2520 2521 2522 2523 2524 2525 2526 2527 2528 2529 2530 2531 2532 2533 2534 2535 2536 2537 2538 2539 2540 2541 2542 2543 2544 2545 2546 2547 2548 2549 2550 2551 2552 2553 2554 2555 2556 2557 2558 2559 2560 2561 2562 2563 2564 2565 2566 2567 2568 2569 2570 2571 2572 2573 2574 2575 2576 2577 2578 2579 Wait for : 26.26088857650757
2580 2581 2582 2583 2584 2585 2586 2587 2588 2589 2590 2591 2592 2593 2594 2595 2596 2597 2598 2599 2600 2601 2602 2603 2604 2605 2606 2607 2608 2609 2610 2611 2612 2613 2614 2615 2616 2617 2618 2619 2620 2621 2622 2623 2624 2625 2626 2627 2628 2629 2630 2631 2632 2633 2634 2635 2636 2637 2638 2639 Wait for : 25.940335988998413
2640 2641 2642 2643 2644 2645 2646 2647 2648 2649 2650 2651 2652 2653 2654 2655 2656 2657 2658 2659 2660 2661 2662 2663 2664 2665 2666 2667 2668 2669 2670 2671 2672 2673 2674 2675 2676 2677 2678 2679 2680 2681 2682 2683 2684 2685 2686 2687 2688 2689 2690 2691 2692 2693 2694 2695 2696 2697 2698 2699 Wait for : 28.70594835281372
2700 2701 2702 2703 2704 2705 2706 2707 2708 2709 2710 2711 2712 2713 2714 2715 2716 2717 2718 2719 2720 2721 2722 2723 2724 2725 2726 2727 2728 2729 2730 2731 2732 2733 2734 2735 2736 2737 2738 2739 2740 2741 2742 2743 2744 2745 2746 2747 2748 2749 2750 2751 2752 2753 2754 2755 2756 2757 2758 2759 Wait for : 28.29491114616394
2760 2761 2762 2763 2764 2765 2766 2767 2768 2769 2770 2771 2772 2773 2774 2775 2776 2777 2778 2779 2780 2781 2782 2783 2784 2785 2786 2787 2788 2789 2790 2791 2792 2793 2794 2795 2796 2797 2798 2799 2800 2801 2802 2803 2804 2805 2806 2807 2808 2809 2810 2811 2812 2813 2814 2815 2816 2817 2818 2819 Wait for : 29.57960557937622
2820 2821 2822 2823 2824 2825 2826 2827 2828 2829 2830 2831 2832 2833 2834 2835 2836 2837 2838 2839 2840 2841 2842 2843 2844 2845 2846 2847 2848 2849 2850 2851 2852 2853 2854 2855 2856 2857 2858 2859 2860 2861 2862 2863 2864 2865 2866 2867 2868 2869 2870 2871 2872 2873 2874 2875 2876 2877 2878 2879 Wait for : 30.571682929992676
2880 2881 2882 2883 2884 2885 2886 2887 2888 2889 2890 2891 2892 2893 2894 2895 2896 2897 2898 2899 2900 2901 2902 2903 2904 2905 2906 2907 2908 2909 2910 2911 2912 2913 2914 2915 2916 2917 2918 2919 2920 2921 2922 2923 2924 2925 2926 2927 2928 2929 2930 2931 2932 2933 2934 Sensor : 12239610 invalid error code : 500
2935 Sensor : 12241384 invalid error code : 500
2936 Sensor : 12241389 invalid error code : 500
2937 Sensor : 12241390 invalid error code : 500
2938 Sensor : 12241394 invalid error code : 500
2939 Sensor : 12241395 invalid error code : 500
Wait for : 29.496647596359253
2940 Sensor : 12241401 invalid error code : 500
2941 Sensor : 12241402 invalid error code : 500
2942 Sensor : 12242120 invalid error code : 500
2943 Sensor : 12242121 invalid error code : 500
2944 Sensor : 12242129 invalid error code : 500
2945 Sensor : 12242137 invalid error code : 500
2946 Sensor : 12242145 invalid error code : 500
2947 Sensor : 12242146 invalid error code : 500
2948 Sensor : 12242154 invalid error code : 500
2949 Sensor : 12242155 invalid error code : 500
2950 Sensor : 12242163 invalid error code : 500
2951 Sensor : 12242164 invalid error code : 500
2952 Sensor : 12242172 invalid error code : 500
2953 Sensor : 12242173 invalid error code : 500
2954 Sensor : 12242968 invalid error code : 500
2955 Sensor : 12242973 invalid error code : 500
2956 Sensor : 12242974 invalid error code : 500
2957 Sensor : 12242982 invalid error code : 500
2958 Sensor : 12242983 invalid error code : 500
2959 Sensor : 12242991 invalid error code : 500
2960 Sensor : 12242992 invalid error code : 500
2961 Sensor : 12243000 invalid error code : 500
2962 Sensor : 12243001 invalid error code : 500
2963 Sensor : 12243007 invalid error code : 500
2964 Sensor : 12243008 invalid error code : 500
2965 Sensor : 12243016 invalid error code : 500
2966 Sensor : 12243017 invalid error code : 500
2967 Sensor : 12243025 invalid error code : 500
2968 Sensor : 12243026 invalid error code : 500
2969 Sensor : 12243034 invalid error code : 500
2970 Sensor : 12243035 invalid error code : 500
2971 Sensor : 12243924 invalid error code : 500
2972 Sensor : 12243929 invalid error code : 500
2973 Sensor : 12243930 invalid error code : 500
2974 Sensor : 12243938 invalid error code : 500
2975 Sensor : 12243939 invalid error code : 500
2976 Sensor : 12243948 invalid error code : 500
2977 Sensor : 12243949 invalid error code : 500
2978 Sensor : 12243957 invalid error code : 500
2979 Sensor : 12243958 invalid error code : 500
2980 Sensor : 12244843 invalid error code : 500
2981 Sensor : 12244847 invalid error code : 500
2982 Sensor : 12244852 invalid error code : 500
2983 Sensor : 12244853 invalid error code : 500
2984 Sensor : 12244865 invalid error code : 500
2985 Sensor : 12244866 invalid error code : 500
2986 Sensor : 12248369 invalid error code : 500
2987 Sensor : 12248370 invalid error code : 500
2988 Sensor : 12250382 invalid error code : 500
2989 Sensor : 12250383 invalid error code : 500
2990 Sensor : 12250391 invalid error code : 500
2991 Sensor : 12250392 invalid error code : 500
2992 Sensor : 12250396 invalid error code : 500
2993 Sensor : 12250397 invalid error code : 500
2994 Sensor : 12251163 invalid error code : 500
2995 Sensor : 12251164 invalid error code : 500
2996 Sensor : 12251168 invalid error code : 500
2997 Sensor : 12251173 invalid error code : 500
2998 Sensor : 12251174 invalid error code : 500
2999 Sensor : 12252014 invalid error code : 500
Wait for : 28.7011239528656
3000 Sensor : 12252015 invalid error code : 500
3001 Sensor : 12252657 invalid error code : 500
3002 Sensor : 12252658 invalid error code : 500
3003 Sensor : 12261796 invalid error code : 500
3004 Sensor : 12261797 invalid error code : 500
3005 Sensor : 12262466 invalid error code : 500
3006 Sensor : 12263430 invalid error code : 500
3007 Sensor : 12263431 invalid error code : 500
3008 Sensor : 12272605 invalid error code : 500
3009 Sensor : 12273455 invalid error code : 500
3010 Sensor : 12291453 invalid error code : 500
3011 Sensor : 12291454 invalid error code : 500
3012 Sensor : 12291461 invalid error code : 500
3013 Sensor : 12291462 invalid error code : 500
3014 Sensor : 12304614 invalid error code : 500
3015 Sensor : 12304615 invalid error code : 500
3016 Sensor : 12323468 invalid error code : 500
3017 Sensor : 12323469 invalid error code : 500
3018 Sensor : 12328443 invalid error code : 500
3019 Sensor : 12353755 invalid error code : 500

In [ ]:
len(sensors_in_range)

1153

In [13]:
sensors_in_range = pd.read_csv('location_sensors.csv')
sensors_in_range = sensors_in_range['Sensor_id']

In [14]:
df_inrange = (df[df['Sensor_id'].isin(sensors_in_range)]).reset_index(drop=True)
df_inrange.head()

,Location_id,Sensor_id,State,Area,Sensor_name,Latitude,Longitude
0,5628,14969,Andhra Pradesh,GVM Corporation,co µg/m³,17.722682,83.308197
1,5628,14957,Andhra Pradesh,GVM Corporation,no2 µg/m³,17.722682,83.308197
2,5628,14947,Andhra Pradesh,GVM Corporation,pm10 µg/m³,17.722682,83.308197
3,5628,14944,Andhra Pradesh,GVM Corporation,pm25 µg/m³,17.722682,83.308197
4,5628,14939,Andhra Pradesh,GVM Corporation,so2 µg/m³,17.722682,83.308197

In [16]:
header = {"X-API-Key" : os.getenv("API_KEY")}
dataset = []
dataset_df = pd.DataFrame(dataset, columns=['Sensor_id', 'Value', 'DateTimeFrom', 'DateTimeTo'])
dataset_df.to_csv('measurements.csv',index=False)

for sensor in sensors_in_range:
    dataset = []
    page = 1
    while True:
        try:
            request = req.get(f'https://api.openaq.org/v3/sensors/{sensor}/days/monthly?limit=1000&page={page}', headers = header)
            raw = request.json()
            data = raw['results']

            if type(raw['meta']['found']) == int :
                try:
                    for param in data:
                        if '2020' in param['period']['datetimeFrom']['local']:
                            dataset.append([sensor, param['value'], param['period']['datetimeFrom']['local'].split("T")[0], param['period']['datetimeTo']['local'].split('T')[0]])
                    print(f'Data Collected from : {sensor}')
                    break
                except:
                    continue
            else:
                for param in data:
                    try:
                        if '2020' in param['period']['datetimeFrom']['local']:
                            dataset.append([sensor, param['value'], param['period']['datetimeFrom']['local'].split("T")[0], param['period']['datetimeTo']['local'].split('T')[0]])
                    except:
                        continue
                page+=1
                    
        except Exception as e:
            print(f'error in fetching from sensor , {sensor}, Error : , {e}')
    sensor_df = pd.DataFrame(dataset, columns=['Sensor_id', 'Value', 'DateTimeFrom', 'DateTimeTo'])    
    sensor_df.to_csv('measurements.csv', mode="a",index=False, header=False)
    time.sleep(1)

Data Collected from : 710
Data Collected from : 712
Data Collected from : 713
Data Collected from : 714
Data Collected from : 715
Data Collected from : 1166
Data Collected from : 1205
Data Collected from : 1207
Data Collected from : 1208
Data Collected from : 1209
Data Collected from : 1545
Data Collected from : 1546
Data Collected from : 4712
Data Collected from : 5231
Data Collected from : 5339
Data Collected from : 5340
Data Collected from : 5343
Data Collected from : 5345
Data Collected from : 5357
Data Collected from : 5359
Data Collected from : 5396
Data Collected from : 5397
Data Collected from : 5399
Data Collected from : 5402
Data Collected from : 5403
Data Collected from : 5405
Data Collected from : 5406
Data Collected from : 5409
Data Collected from : 14237
Data Collected from : 14238
Data Collected from : 14311
Data Collected from : 14319
Data Collected from : 14322
Data Collected from : 14519
Data Collected from : 14520
Data Collected from : 14521
Data Collected from : 14522
Data Collected from : 14523
Data Collected from : 14620
Data Collected from : 14623
Data Collected from : 14629
Data Collected from : 14632
Data Collected from : 14633
Data Collected from : 14634
Data Collected from : 14635
Data Collected from : 14636
Data Collected from : 14637
Data Collected from : 14639
Data Collected from : 14641
Data Collected from : 14642
Data Collected from : 14643
Data Collected from : 14657
Data Collected from : 14680
Data Collected from : 14681
Data Collected from : 14682
Data Collected from : 14683
Data Collected from : 14684
Data Collected from : 14685
Data Collected from : 14690
Data Collected from : 14701
Data Collected from : 14702
Data Collected from : 14703
Data Collected from : 14704
Data Collected from : 14705
Data Collected from : 14717
Data Collected from : 14732
Data Collected from : 14737
Data Collected from : 14738
Data Collected from : 14739
Data Collected from : 14740
Data Collected from : 14741
Data Collected from : 14743
Data Collected from : 14766
Data Collected from : 14767
Data Collected from : 14768
Data Collected from : 14770
Data Collected from : 14772
Data Collected from : 14773
Data Collected from : 14774
Data Collected from : 14775
Data Collected from : 14779
Data Collected from : 14780
Data Collected from : 14788
Data Collected from : 14790
Data Collected from : 14793
Data Collected from : 14794
Data Collected from : 14795
Data Collected from : 14797
Data Collected from : 14798
Data Collected from : 14799
Data Collected from : 14801
Data Collected from : 14802
Data Collected from : 14803
Data Collected from : 14804
Data Collected from : 14805
Data Collected from : 14806
Data Collected from : 14810
Data Collected from : 14813
Data Collected from : 14814
Data Collected from : 14817
Data Collected from : 14819
Data Collected from : 14820
Data Collected from : 14821
Data Collected from : 14822
Data Collected from : 14823
Data Collected from : 14824
Data Collected from : 14825
Data Collected from : 14826
Data Collected from : 14827
Data Collected from : 14829
Data Collected from : 14830
Data Collected from : 14831
Data Collected from : 14832
Data Collected from : 14833
Data Collected from : 14835
Data Collected from : 14836
Data Collected from : 14837
Data Collected from : 14839
Data Collected from : 14842
Data Collected from : 14850
Data Collected from : 14852
Data Collected from : 14855
Data Collected from : 14856
Data Collected from : 14858
Data Collected from : 14859
Data Collected from : 14860
Data Collected from : 14862
Data Collected from : 14863
Data Collected from : 14864
Data Collected from : 14868
Data Collected from : 14870
Data Collected from : 14871
Data Collected from : 14872
Data Collected from : 14873
Data Collected from : 14874
Data Collected from : 14875
Data Collected from : 14882
Data Collected from : 14883
Data Collected from : 14885
Data Collected from : 14886
Data Collected from : 14887
Data Collected from : 14890
Data Collected from : 14891
Data Collected from : 14894
Data Collected from : 14895
Data Collected from : 14899
Data Collected from : 14900
Data Collected from : 14901
Data Collected from : 14902
Data Collected from : 14903
Data Collected from : 14904
Data Collected from : 14906
Data Collected from : 14907
Data Collected from : 14909
Data Collected from : 14912
Data Collected from : 14913
Data Collected from : 14914
Data Collected from : 14915
Data Collected from : 14916
Data Collected from : 14918
Data Collected from : 14919
Data Collected from : 14922
Data Collected from : 14923
Data Collected from : 14925
Data Collected from : 14927
Data Collected from : 14928
Data Collected from : 14930
Data Collected from : 14932
Data Collected from : 14933
Data Collected from : 14935
Data Collected from : 14936
Data Collected from : 14937
Data Collected from : 14939
Data Collected from : 14940
Data Collected from : 14941
Data Collected from : 14944
Data Collected from : 14945
Data Collected from : 14946
Data Collected from : 14947
Data Collected from : 14952
Data Collected from : 14957
Data Collected from : 14958
Data Collected from : 14959
Data Collected from : 14960
Data Collected from : 14963
Data Collected from : 14964
Data Collected from : 14965
Data Collected from : 14968
Data Collected from : 14969
Data Collected from : 14970
Data Collected from : 14971
Data Collected from : 14973
Data Collected from : 14974
Data Collected from : 14977
Data Collected from : 14978
Data Collected from : 14980
Data Collected from : 14982
Data Collected from : 14983
Data Collected from : 14984
Data Collected from : 14985
Data Collected from : 14987
Data Collected from : 14988
Data Collected from : 14989
Data Collected from : 14991
Data Collected from : 14994
Data Collected from : 14995
Data Collected from : 14996
Data Collected from : 14997
Data Collected from : 14999
Data Collected from : 15000
Data Collected from : 15001
Data Collected from : 15005
Data Collected from : 15006
Data Collected from : 15009
Data Collected from : 15010
Data Collected from : 15018
Data Collected from : 15019
Data Collected from : 15020
Data Collected from : 15024
Data Collected from : 15027
Data Collected from : 15029
Data Collected from : 15032
Data Collected from : 15033
Data Collected from : 15035
Data Collected from : 15037
Data Collected from : 15039
Data Collected from : 15040
Data Collected from : 15041
Data Collected from : 15043
Data Collected from : 15044
Data Collected from : 15045
Data Collected from : 15046
Data Collected from : 15047
Data Collected from : 15048
Data Collected from : 15049
Data Collected from : 15051
Data Collected from : 15052
Data Collected from : 15053
Data Collected from : 15054
Data Collected from : 15055
Data Collected from : 15056
Data Collected from : 15060
Data Collected from : 15061
Data Collected from : 15062
Data Collected from : 15064
Data Collected from : 15065
Data Collected from : 15067
Data Collected from : 15070
Data Collected from : 15075
Data Collected from : 15079
Data Collected from : 15080
Data Collected from : 15082
Data Collected from : 15083
Data Collected from : 15084
Data Collected from : 15085
Data Collected from : 15087
Data Collected from : 15088
Data Collected from : 15089
Data Collected from : 15090
Data Collected from : 15096
Data Collected from : 15098
Data Collected from : 15101
Data Collected from : 15105
Data Collected from : 15107
Data Collected from : 15108
Data Collected from : 15110
Data Collected from : 15117
Data Collected from : 15119
Data Collected from : 15120
Data Collected from : 15121
Data Collected from : 15122
Data Collected from : 15124
Data Collected from : 15125
Data Collected from : 15129
Data Collected from : 15130
Data Collected from : 15131
Data Collected from : 15133
Data Collected from : 15134
Data Collected from : 15136
Data Collected from : 15138
Data Collected from : 15142
Data Collected from : 15143
Data Collected from : 15144
Data Collected from : 15149
Data Collected from : 15151
Data Collected from : 15152
Data Collected from : 15153
Data Collected from : 15154
Data Collected from : 15155
Data Collected from : 15156
Data Collected from : 15158
Data Collected from : 15159
Data Collected from : 15160
Data Collected from : 15162
Data Collected from : 15167
Data Collected from : 15170
Data Collected from : 15171
Data Collected from : 15172
Data Collected from : 15175
Data Collected from : 15176
Data Collected from : 15178
Data Collected from : 15181
Data Collected from : 15183
Data Collected from : 15184
Data Collected from : 15186
Data Collected from : 15187
Data Collected from : 15189
Data Collected from : 15190
Data Collected from : 15192
Data Collected from : 15193
Data Collected from : 15195
Data Collected from : 15199
Data Collected from : 15202
Data Collected from : 15207
Data Collected from : 15211
Data Collected from : 15212
Data Collected from : 15213
Data Collected from : 15217
Data Collected from : 15221
Data Collected from : 15223
Data Collected from : 15225
Data Collected from : 15226
Data Collected from : 15227
Data Collected from : 15228
Data Collected from : 15230
Data Collected from : 15234
Data Collected from : 15236
Data Collected from : 15238
Data Collected from : 15239
Data Collected from : 15240
Data Collected from : 15241
Data Collected from : 15243
Data Collected from : 15244
Data Collected from : 15245
Data Collected from : 15249
Data Collected from : 15251
Data Collected from : 15253
Data Collected from : 15256
Data Collected from : 15258
Data Collected from : 15259
Data Collected from : 15260
Data Collected from : 15269
Data Collected from : 15270
Data Collected from : 17540
Data Collected from : 17541
Data Collected from : 17542
Data Collected from : 17543
Data Collected from : 17766
Data Collected from : 17768
Data Collected from : 17769
Data Collected from : 17770
Data Collected from : 17771
Data Collected from : 17772
Data Collected from : 17773
Data Collected from : 17775
Data Collected from : 17776
Data Collected from : 17778
Data Collected from : 17779
Data Collected from : 17780
Data Collected from : 17790
Data Collected from : 17791
Data Collected from : 17792
Data Collected from : 17865
Data Collected from : 18099
Data Collected from : 18100
Data Collected from : 18101
Data Collected from : 18102
Data Collected from : 18103
Data Collected from : 18104
Data Collected from : 18105
Data Collected from : 18106
Data Collected from : 18107
Data Collected from : 19877
Data Collected from : 19878
Data Collected from : 19880
Data Collected from : 19881
Data Collected from : 19882
Data Collected from : 19884
Data Collected from : 19885
Data Collected from : 19886
Data Collected from : 19887
Data Collected from : 19888
Data Collected from : 19892
Data Collected from : 19893
Data Collected from : 19894
Data Collected from : 19896
Data Collected from : 19897
Data Collected from : 19898
Data Collected from : 19899
Data Collected from : 19900
Data Collected from : 19901
Data Collected from : 19902
Data Collected from : 19904
Data Collected from : 19905
Data Collected from : 19906
Data Collected from : 19907
Data Collected from : 19909
Data Collected from : 19910
Data Collected from : 19911
Data Collected from : 19912
Data Collected from : 19913
Data Collected from : 19914
Data Collected from : 19915
Data Collected from : 19916
Data Collected from : 19918
Data Collected from : 19919
Data Collected from : 19920
Data Collected from : 19921
Data Collected from : 19922
Data Collected from : 19924
Data Collected from : 19925
Data Collected from : 19926
Data Collected from : 19927
Data Collected from : 19928
Data Collected from : 19929
Data Collected from : 19930
Data Collected from : 19933
Data Collected from : 19934
Data Collected from : 19935
Data Collected from : 19936
Data Collected from : 19938
Data Collected from : 19939
Data Collected from : 19940
Data Collected from : 19941
Data Collected from : 19942
Data Collected from : 19943
Data Collected from : 19944
Data Collected from : 19945
Data Collected from : 19946
Data Collected from : 19947
Data Collected from : 19948
Data Collected from : 19949
Data Collected from : 19951
Data Collected from : 19952
Data Collected from : 19956
Data Collected from : 19957
Data Collected from : 19958
Data Collected from : 19959
Data Collected from : 19963
Data Collected from : 19965
Data Collected from : 19966
Data Collected from : 19967
Data Collected from : 19970
Data Collected from : 19971
Data Collected from : 19972
Data Collected from : 19973
Data Collected from : 19974
Data Collected from : 19975
Data Collected from : 19976
Data Collected from : 19977
Data Collected from : 19978
Data Collected from : 19980
Data Collected from : 19981
Data Collected from : 19982
Data Collected from : 19983
Data Collected from : 19984
Data Collected from : 19985
Data Collected from : 19986
Data Collected from : 19987
Data Collected from : 19988
Data Collected from : 19990
Data Collected from : 19992
Data Collected from : 19993
Data Collected from : 19994
Data Collected from : 19995
Data Collected from : 19996
Data Collected from : 19997
Data Collected from : 19999
Data Collected from : 20000
Data Collected from : 20001
Data Collected from : 20002
Data Collected from : 20003
Data Collected from : 20004
Data Collected from : 20005
Data Collected from : 20006
Data Collected from : 20009
Data Collected from : 20010
Data Collected from : 20012
Data Collected from : 20014
Data Collected from : 20015
Data Collected from : 20017
Data Collected from : 20019
Data Collected from : 20020
Data Collected from : 20021
Data Collected from : 20022
Data Collected from : 20023
Data Collected from : 20024
Data Collected from : 20025
Data Collected from : 20027
Data Collected from : 20028
Data Collected from : 20029
Data Collected from : 20030
Data Collected from : 20032
Data Collected from : 20033
Data Collected from : 20034
Data Collected from : 20036
Data Collected from : 20037
Data Collected from : 20038
Data Collected from : 20040
Data Collected from : 20041
Data Collected from : 20042
Data Collected from : 20043
Data Collected from : 20045
Data Collected from : 20046
Data Collected from : 20048
Data Collected from : 20049
Data Collected from : 20050
Data Collected from : 20051
Data Collected from : 20052
Data Collected from : 20055
Data Collected from : 20057
Data Collected from : 20058
Data Collected from : 20059
Data Collected from : 20060
Data Collected from : 20062
Data Collected from : 20063
Data Collected from : 20064
Data Collected from : 20065
Data Collected from : 20068
Data Collected from : 20069
Data Collected from : 20071
Data Collected from : 20075
Data Collected from : 20076
Data Collected from : 20077
Data Collected from : 20078
Data Collected from : 20079
Data Collected from : 20080
Data Collected from : 20081
Data Collected from : 20083
Data Collected from : 20085
Data Collected from : 20086
Data Collected from : 20087
Data Collected from : 20088
Data Collected from : 20090
Data Collected from : 20091
Data Collected from : 20092
Data Collected from : 20093
Data Collected from : 20095
Data Collected from : 20096
Data Collected from : 20097
Data Collected from : 20099
Data Collected from : 20100
Data Collected from : 20101
Data Collected from : 20102
Data Collected from : 20103
Data Collected from : 20105
Data Collected from : 20106
Data Collected from : 20107
Data Collected from : 20108
Data Collected from : 20109
Data Collected from : 20110
Data Collected from : 20115
Data Collected from : 20118
Data Collected from : 20121
Data Collected from : 20122
Data Collected from : 20123
Data Collected from : 20124
Data Collected from : 20125
Data Collected from : 20126
Data Collected from : 20128
Data Collected from : 20130
Data Collected from : 20131
Data Collected from : 20132
Data Collected from : 20133
Data Collected from : 20134
Data Collected from : 20135
Data Collected from : 20136
Data Collected from : 20137
Data Collected from : 20138
Data Collected from : 20140
Data Collected from : 20141
Data Collected from : 20142
Data Collected from : 20143
Data Collected from : 20144
Data Collected from : 20145
Data Collected from : 20147
Data Collected from : 20148
Data Collected from : 20150
Data Collected from : 20152
Data Collected from : 20153
Data Collected from : 20154
Data Collected from : 20156
Data Collected from : 20157
Data Collected from : 20159
Data Collected from : 20161
Data Collected from : 20162
Data Collected from : 20164
Data Collected from : 20165
Data Collected from : 20166
Data Collected from : 20169
Data Collected from : 20171
Data Collected from : 20172
Data Collected from : 20173
Data Collected from : 20175
Data Collected from : 20176
Data Collected from : 20177
Data Collected from : 20181
Data Collected from : 20183
Data Collected from : 20184
Data Collected from : 20186
Data Collected from : 20187
Data Collected from : 20188
Data Collected from : 20190
Data Collected from : 20191
Data Collected from : 20193
Data Collected from : 20194
Data Collected from : 20195
Data Collected from : 20196
Data Collected from : 20198
Data Collected from : 20199
Data Collected from : 20200
Data Collected from : 20202
Data Collected from : 20203
Data Collected from : 20204
Data Collected from : 20206
Data Collected from : 20207
Data Collected from : 20209
Data Collected from : 20210
Data Collected from : 20211
Data Collected from : 20212
Data Collected from : 20213
Data Collected from : 20215
Data Collected from : 20216
Data Collected from : 20217
Data Collected from : 20219
Data Collected from : 20220
Data Collected from : 20222
Data Collected from : 20224
Data Collected from : 20226
Data Collected from : 20227
Data Collected from : 20228
Data Collected from : 20230
Data Collected from : 20232
Data Collected from : 20233
Data Collected from : 20236
Data Collected from : 20238
Data Collected from : 20239
Data Collected from : 20241
Data Collected from : 20242
Data Collected from : 20243
Data Collected from : 20244
Data Collected from : 20251
Data Collected from : 20252
Data Collected from : 20253
Data Collected from : 20254
Data Collected from : 20256
Data Collected from : 20257
Data Collected from : 20290
Data Collected from : 20291
Data Collected from : 20293
Data Collected from : 20294
Data Collected from : 20295
Data Collected from : 20407
Data Collected from : 20408
Data Collected from : 20409
Data Collected from : 20410
Data Collected from : 20411
Data Collected from : 20574
Data Collected from : 20951
Data Collected from : 20953
Data Collected from : 20954
Data Collected from : 20956
Data Collected from : 20957
Data Collected from : 20958
Data Collected from : 20959
Data Collected from : 20960
Data Collected from : 20961
Data Collected from : 20962
Data Collected from : 20963
Data Collected from : 20965
Data Collected from : 20966
Data Collected from : 20967
Data Collected from : 20968
Data Collected from : 21728
Data Collected from : 21729
Data Collected from : 21730
Data Collected from : 21732
Data Collected from : 21733
Data Collected from : 21734
Data Collected from : 21735
Data Collected from : 21736
Data Collected from : 21738
Data Collected from : 21739
Data Collected from : 22459
Data Collected from : 22572
Data Collected from : 22607
Data Collected from : 22695
Data Collected from : 22716
Data Collected from : 22798
Data Collected from : 22847
Data Collected from : 22848
Data Collected from : 22849
Data Collected from : 22851
Data Collected from : 22852
Data Collected from : 22896
Data Collected from : 22897
Data Collected from : 22898
Data Collected from : 22899
Data Collected from : 22900
Data Collected from : 23115
Data Collected from : 23299
Data Collected from : 23300
Data Collected from : 23301
Data Collected from : 23302
Data Collected from : 23304
Data Collected from : 23320
Data Collected from : 23534
Data Collected from : 23669
Data Collected from : 23737
Data Collected from : 23738
Data Collected from : 23740
Data Collected from : 23741
Data Collected from : 23742
Data Collected from : 23897
Data Collected from : 23899

In [ ]:
(df_inrange.head(2)).merge(dataset_df, on='Sensor_id')

Location_id     0
Sensor_id       0
Area            0
City            0
Sensor_name     0
Latitude        0
Longitude       0
Value           0
DateTimeFrom    0
DateTimeTo      0
dtype: int64

In [2]:
import pandas as pd
import requests as req
import json
import time,os
from dotenv import load_dotenv
from datetime import datetime
load_dotenv()
header = {"X-API-Key" : os.getenv('API_key')}

In [3]:
measurements = pd.read_csv('measurements.csv')
sensors = pd.read_csv('location_sensors.csv')

In [6]:
measurements.head()

   Sensor_id  Value DateTimeFrom  DateTimeTo
0        710  881.0   2020-01-01  2020-02-01
1        710  912.0   2020-02-01  2020-03-01
2        710  735.0   2020-03-01  2020-04-01
3        710  495.0   2020-04-01  2020-05-01
4        710  579.0   2020-05-01  2020-06-01

In [12]:
(measurements['Sensor_id'] == 710).sum()

np.int64(12)

In [13]:
sensors["Percent_Coverage"] = [round((measurements['Sensor_id'] == x).sum()/12 * 100, 2) for x in sensors['Sensor_id']]
sensors.shape

(1153, 8)

In [14]:
sensors

,Location_id,Sensor_id,State,Area,Sensor_name,Latitude,Longitude,Percent_Coverage
0,407,710,Telangana,Zoo Park,co µg/m³,17.349694,78.451437,100.00
1,407,712,Telangana,Zoo Park,no2 µg/m³,17.349694,78.451437,100.00
2,407,713,Telangana,Zoo Park,so2 µg/m³,17.349694,78.451437,100.00
3,407,714,Telangana,Zoo Park,pm25 µg/m³,17.349694,78.451437,100.00
4,407,715,Telangana,Zoo Park,pm10 µg/m³,17.349694,78.451437,91.67
...,...,...,...,...,...,...,...,...
1148,42240,227037,Assam,Pan Bazaar,pm10 µg/m³,26.187500,91.744194,8.33
1149,42240,227038,Assam,Pan Bazaar,co µg/m³,26.187500,91.744194,8.33
1150,42240,227039,Assam,Pan Bazaar,no2 µg/m³,26.187500,91.744194,8.33
1151,5615,234003,Chhattisgarh,Sidhu Kanhu Indoor Stadium,pm25 µg/m³,23.540435,87.289222,8.33
1152,697,234638,West Bengal,Haldia,pm25 µg/m³,22.060470,88.109737,8.33

In [15]:
high_coverage_sensors = sensors[sensors['Percent_Coverage'] >= 30].reset_index(drop=True)

In [18]:
high_coverage_sensors.shape

(986, 8)

In [19]:
loc_meas = high_coverage_sensors.merge(measurements)

In [20]:
loc_meas[['Sensor_name', 'Value']].groupby('Sensor_name').describe()

              Value                                                        \
              count        mean         std    min     25%    50%     75%
Sensor_name
co µg/m³     2289.0  842.054865  582.507413 -150.0  463.00  717.0  1100.0
no2 µg/m³    2340.0   26.998158   22.855726    0.0   11.70   20.0    34.6
pm10 µg/m³   2115.0  123.166492  125.498910    0.0   56.10   95.2   153.0
pm25 µg/m³   2373.0   64.081987   66.791124  -23.8   26.10   44.1    75.5
so2 µg/m³    2244.0   51.715409  840.549650    0.0    6.72   10.7    17.5


                 max
Sensor_name
co µg/m³      4690.0
no2 µg/m³      176.0
pm10 µg/m³    4010.0
pm25 µg/m³     985.0
so2 µg/m³    34400.0

In [21]:
loc_meas.describe()

,Location_id,Sensor_id,Latitude,Longitude,Percent_Coverage,Value
count,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000,11361.000000
mean,7374.455418,22811.310976,23.796927,78.287281,97.261837,221.745651
std,2157.670599,8846.362595,5.959831,4.150266,8.286610,556.659217
min,301.000000,710.000000,8.514909,72.591912,33.330000,-150.000000
25%,5633.000000,15110.000000,19.252920,76.302765,100.000000,15.900000
50%,6954.000000,20062.000000,25.771061,77.241060,100.000000,43.500000
75%,8365.000000,34789.000000,28.646233,78.433215,100.000000,159.000000
max,10921.000000,36703.000000,31.620000,94.098988,100.000000,34400.000000

In [23]:
loc_meas.to_csv('measure.csv',index=False)